* {
    box-sizing: border-box;
  }
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    
  }
  /*Achtergrond bij de delen GIP en CV op de home pagina en ervoor zorgen dat de tekst niet tegen de rand plakt*/
  .GIP,.CV{
    background-color: #f1f1f1;
    padding: 30px;
  }
  /*Zelfde als bij GIP en CV maar dan zorgen voor witte achtergrond*/
  .piano,.whistle{
    padding: 30px;
  }
  /* Header/logo Title */
  .header {
    height: 50vh; /*Dit zorgt ervoor dat op eender welk scherm telkens de helft bedekt is door een vlak*/
    padding: 50px; /*Zonder dit is er een wit vlak boven de header en navbar, is ook om de tekst in de header op een bepaalde hoogte te zetten*/
    text-align: center;
    background: #232741;
    color: white;
  }
  
/*Lettertypes*/
  .header h1 { /*Enkel de tekst die aangegeven werd met h1 in de header wordt met deze instellingen aangepast*/
    font-size: 50px;
    text-align: center;
    margin-top:10vh;
  }
h4{
  margin-top: 10px;
  margin-bottom: 10px;
}
h1,h2{
  margin-top: 0px;
}
h3{
  margin: 0px;
}
/*Einde lettertypes*/

/*Opmaak links */
a:link {
  color: #717171;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #717171;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
}
/*Einde opmaak links */ 

  /*Navigatie bar*/
  /*Navigatie bar*/
  /*Navigatie bar*/
  .navbar {
    background-color: rgb(87, 87, 87);
    font-family: Arial;
    position: fixed; /*Zorgt ervoor dat de navbar bovenaan het scherm blijft staan ook terwijl het scrollen*/
    width: 100%; /*Over de volledige breedte van het scherm*/
    margin:0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /*Zorgt voor een meer geleidelijke overgang*/
    z-index: 1; /*navbar wordt bovenop de andere delen weergegeven tenzij het andere deel een z-index heeft van 2 of meer*/
  }
  
   .navbar a {
    display: inline-block;
    justify-content: center;
    font-size: 20px; 
    color: white; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration:none;
    margin: auto;
  }
  .navbar a:hover, .dropdown:hover .dropbtn { /*Als er over de tekstvakken in de navbar wordt gezweven zal de achtergrond kleur veranderen naar vuil wit en zal de tekstkleur veranderen naar zwart*/
    background-color: #ddd;
    color: black;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
  }  
  .navbar a:active { /*Wordt er op het tekstvak gedrukt zal de achtergrond kleur en tekstkleur veranderen*/ 
    background-color: rgb(69,70,75);
    color: black;
  }
  .dropdown { /*Zorgt voor de dropdown bij portfolio*/
  /*text-align: center;*/
  display: inline-block;
  overflow:visible;
  }
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /*Zorgt dat het boven al de rest wordt getoond*/
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  /*Einde navigatie bar*/
  /*Einde navigatie bar*/
  /*Einde navigatie bar*/

 
  /* Column container */
  /* .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }  */
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;

  }
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 0px;
  }
  /* opmaak van de Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  .logos{ /*Opmaak logo's in footer*/
    width: 50px;
    height: 50px;
  }

.body{ /*Zorgt ervoor dat de tekst niet tegen de rand plakt*/
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.row { /*Opmaak van de rijen bij Curriculum Vitae*/
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/*Bij pagina foto's zodat 4 foto's naast elkaar geplaatst kunnen worden*/
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
/*Bij pagina foto's zodat 4 foto's naast elkaar geplaatst kunnen worden*/
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.contact{ /*contact stuk op home pagina*/
  padding-left: 30px;
  padding-top: 10px;
  text-align: center;
  margin-top: 15px;
}


.invulbalk{
  border-radius: 10px;
  width: 250px;
  margin: 5px;
  padding: 5px;
}

.tabel{ /*Positie van de invulbalken*/
  margin-left: auto;
  margin-right: auto;
  text-align:justify;
}
textarea{ /*Opmaak tekstvak "stel je vraag"*/
  margin-left: 50%;
  margin-right: auto;
  height: 100px;
} 

/*Verstuur knop*/
/*Verstuur knop*/
/*Verstuur knop*/
.button { 
  height: 50px; 
  width: 100px; 
  border: none;
  color:#f1f1f1;
  background-color: #232741;
  border-radius: 10%;
  margin-left: 32%;
  margin-right: 68%;
  margin-bottom: 62px;
  } 
.button:hover{ /*Wanneer met de muis hierover gegaan wordt zal achtergrond kleur veranderen*/
  background-color: #199f84;
}
/* #verstuur{
  margin-left: 32%;
  margin-right: 68%;
  margin-bottom: 62px;
} */

/*Einde verstuur knop*/
/*Einde verstuur knop*/
/*Einde verstuur knop*/
  
/* Opmaak foto's*/
/* Opmaak foto's*/
/* Opmaak foto's*/
#IPC{ /*Opmaak foto op pagina "IPC-201c"*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#GIPfoto{
  width:400px; 
  height:300px;
}

/*Einde Opmaak foto's*/
/*Einde Opmaak foto's*/
/*Einde Opmaak foto's*/

/*Opmaak sidebar*/
nav .logo{
  display:flex;
  position:fixed;
  top:4px;
  align-items: center;
}

.logo .menu-icon{
  color:rgb(221, 221, 221);
  cursor: pointer;
  font-size: 40px;
  margin-right: 15px;
  position: fixed;
  top:4px;
}

nav .sidebar{
  position: fixed;
  top:0;
  left:-100%;
  height: 100%;
  width:260px;
  padding: 10px 0;
  opacity: 100%;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0,0,0,0.1);
  transition: all 0.4s ease; /*overgang verloopt wat natuurlijker hierdoor*/
}

nav.open .sidebar{
  left: 0;
}

.sidebar .sidebar-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding:30px 16px; 
}

.sidebar-content .list{
  list-style: none;
}

.list .nav-link {
  display: flex;
  text-align: left;
  align-items:center;
  text-decoration: none;
  border-radius: 8px;
}

.lists .nav-link:hover{
  background-color: #199f84;
}

.nav-link .icon{
  margin-right: 5px;
  font-size:  30px;
  color: #707070;
}

.nav-link .link{
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link{
  color:#c0b5b5;
}
.overlay {
  position: fixed;
  top: 0;
  left:-100%;
  height: 100vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background-color: rgba(0,0,0,0.3);
}

nav.open ~ .overlay{
  opacity: 1;
  left:260px;
  pointer-events: auto;
}

.link{
  text-align: left;
}

.mobile-menu{ /*Als de website op een gsm scherm wordt bekeken zal de navbar met een dropdown gebeuren, hier wordt er gezet dat het het nog niet moet tonen*/
  display: none;
  background-color: rgba(87, 87, 87, 0.7);
}

#Statuswebsite{ /*Dit dient om de balk in de navbar te laten verkleuren wanneer men op de pagina zit (beter kunnen situeren van waar ze zitten)*/
  background-color:rgb(39, 39, 42);
  color:white;
}
.Productboekje{
  background-color: #d5d5d5;
  padding: 30px;
}

  /*Proces bundel weergave*/
  .boekje{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#d5d5d5;
}

.boekje {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* Book */
.book {
    position: relative;
    width: 40%;
    transition: transform 0.8s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 3000px;
}
.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 1s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    
}
.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
#buttonrechts {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 12%;
  transition: transform 1s;
}
#buttonlinks {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 12%;
  transition: transform 1s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 45px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 0;
}

#p2 {
    z-index: -1;
}

#p3 {
    z-index: -2;
}

#p4{
    z-index: -3;
}

#p5{
    z-index: -4;
}

#p6{
    z-index: -5;
}

.main2 {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: white;
  padding: 30px;
}
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
 
    #moodboard{
      width:100%;
    }
    #schetsen{
      width:100%;
    }
    #renders{
      width:100%;
      
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar{
      display: block;
    }
    .grotenav{
      display: none;
    }
    .mobile-menu{
      display: block;
      width:100%;
      padding: 10px;
      font-size: 16px;
    }
    .logo{
      display:none;
    }
    #moodboard{
      width:100%;
        }
    #schetsen{
      width:100%;
    }
    #renders{
      width:100%;
      
    }  
  }


  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .side{
    width: 100%;
  }
  .main{
    width: 100%;
  }
  #GIPfoto{
    width:80%;
    height: auto;
    
  }
}
@media screen and (min-width:700px){
  #renders{
    max-width: 33%;
    margin: 0px;
  }
  #schetsen{
    max-width: 24%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

}
@media (min-width: 1000px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
