/* Dit is een reserve css pagina voor de pagina whistle life, deze styling wordt dus niet rechtstreeks gebruikt */

*{
    box-sizing: border-box;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

/* navigatie bar*/
.navbar {
  overflow:-moz-hidden-unscrollable;
  background-color: rgb(87, 87, 87);
  font-family: Arial;
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 1;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}  

.navbar a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
}

/* Change color on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

/* Change color on active */
.navbar a:active {
  background-color: rgb(69, 70, 75);
  color: black;
}

/* The dropdown container */
.dropdown {
  text-align: center;
  display: inline-block;
  overflow:visible;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.Productboekje{
  background-color: #d5d5d5;
  padding: 30px;
}



  /*Proces bundel weergave*/
  .boekje{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#d5d5d5;
}

.boekje {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* Book */
.book {
    position: relative;
    width: 40%;
    transition: transform 0.8s;
}


.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 3000px;
}
.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 1s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    
}
.back {
    z-index: 0;
}
.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
#buttonrechts {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 12%;
  transition: transform 1s;
}
#buttonlinks {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 12%;
  transition: transform 1s;
}


button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 0;
}

#p2 {
    z-index: -1;
}

#p3 {
    z-index: -2;
}
#p4{
    z-index: -3;
}
#p5{
    z-index: -4;
}
#p6{
    z-index: -5;
}





/* Opmaak*/
.header {
  height: 50vh;
  padding: 50px;
  text-align: center;
  background: #232741;
  color: white;
}
.header h1 {
  font-size: 50px;
  margin-top: 10vh;
}
.header p{
  font-size: 16px;
}


h4{
  margin-top: 10px;
  margin-bottom: 10px;
  position: left;
}
h1,h2{
  margin-top: 0px;
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 30px;
}

#titel{
  padding-top: 35px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
.logos{
  width: 50px;
  height: 50px;
}

.mobile-menu{
  display: none;
  background-color: rgba(87, 87, 87, 0.7);
}


  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
    #moodboard{
      width:100%;
    }
    #schetsen{
      width:100%;
    }
    #renders{
      width:100%;
      
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar{
      display: block;
    }
    .grotenav{
      display: none;
    }
    .mobile-menu{
      display: block;
      width:100%;
      padding: 10px;
      font-size: 16px;
    }
    #moodboard{
      width:100%;
        }
    #schetsen{
      width:100%;
    }
    #renders{
      width:100%;
      
    }
  }
  @media screen and (min-width:700px){
    #renders{
      max-width: 33%;
      margin: 0px;
    }
    #schetsen{
      max-width: 24%;
    }
  }
#Statuswebsite{
  background-color:rgb(39, 39, 42);
  color:white;
}